{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <div class="row">
        {% for products in product %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ products.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ products.name }}</h5>
                  <p class="card-text">${{ products.price }}</p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}